*{
    margin:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

#h {
    /*background-color: greenyellow;
  */  display:flex;
    column-gap: 500px;
    
    padding: 20px;
}
#navbar a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    color: hsl(0, 90%, 4%);
    
}
#navbar a:hover{
    color: hsl(0, 38%, 49%);
    cursor: pointer;


}
h1{
    color: hsl(33, 23%, 92%);
    font-family:  sans-serif;

   
    
}
body{
    background-color: blueviolet;
}


.content{
    
    align-items: center;
    padding: 0 10%;
    max-width:50%;
}

.c h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 36px;
    color:rgba(108, 175, 238, 0.925) ;
}
.c h2{
    font-family: 'Courier New', Courier, monospace;
    max-width: 90%;
    color: hsl(273, 81%, 69%);
    margin-top: 0px;
}
.c p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(213, 176, 248);
    margin-top: 10px;
}
.l a{
    position: relative;
  display: inline-block;
  color: bisque;
  background-color: rgb(116, 8, 101);
  border: 1px solid ;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.l a::before{
    content: '';
    position: absolute;

    
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: -1;
    background-color: black;
    

}

.l a:hover::before{
    width: 100%;
}